.row {
  flex-direction: column;
  padding: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
}

.row:hover {
  background: #eee;
}

.title {
  font-size: 36px;
  padding-bottom: 5px;
}

.list {
  flex: 1;
  background-color: #fff;
  align-items: stretch;
  justify-content: flex-start;
}
