.container {
  width: 100%;
  padding: 1rem;
}

.menu {
  display: flex;
}

.posts {
  flex: 1;
}

.post-item {
  padding: 1rem;
  border: 1px solid white;
}

.post-item:hover {
  border: 1px solid gray;
}

.post-title {
  cursor: pointer;
  color: #3f51b5;
}

.filter-list {
  padding: 1rem;
}

.button {
  width: 100%;
  margin: 4px 0;
}

.selected {
  background-color: #3f51b5;
  color: white;
}

.remove {
  background-color: #ff1744;
  color: white;
}

.status {
  margin-top: 45vh;
  text-align: center;
}

@media (min-width: 640px) {
  .container {
    width: 640px;
    margin: auto;
  }
}
